In [3]:
import pandas as pd
import numpy as np
df=pd.read_csv(r"D:\Machine Learning Internship\Covarience and Corelation\1.csv")

FileNotFoundError: [Errno 2] No such file or directory: 'D:\\Machine Learning Internship\\Covarience and Corelation\\1.csv'

In [ ]:
df

In [4]:
df.cov()

NameError: name 'df' is not defined

In [9]:
df.corr()

                Price (X)  Units Sold (Y)
Price (X)             1.0            -1.0
Units Sold (Y)       -1.0             1.0

In [10]:
df.corr(method='pearson')

                Price (X)  Units Sold (Y)
Price (X)             1.0            -1.0
Units Sold (Y)       -1.0             1.0

In [12]:
df=pd.read_csv(r"D:\Machine Learning Internship\Covarience and Corelation\2.csv")
df.cov()

                 Test scores (Y)
Test scores (Y)            145.0

In [13]:
df.corr()

                 Test scores (Y)
Test scores (Y)              1.0

In [14]:
df

  Time spent studying (X)  Test scores (Y)
0                 2 hours               70
1                 3 hours               80
2                 4 hours               90
3                 5 hours               95
4                 6 hours              100

In [33]:
df=pd.read_csv(r"D:\Machine Learning Internship\Covarience and Corelation\4.csv")

In [31]:
df

   Height (X) (inches)  Weight (Y) (pounds)
0                   65                  120
1                   67                  135
2                   70                  150
3                   72                  160
4                   62                  110
5                   68                  140
6                   74                  175
7                   69                  150
8                   71                  165
9                   63                  105

In [34]:
df.cov()

                     Height (X) (inches)  Weight (Y) (pounds)
Height (X) (inches)            15.211111            90.444444
Weight (Y) (pounds)            90.444444           554.444444

In [35]:
df.corr()

                     Height (X) (inches)  Weight (Y) (pounds)
Height (X) (inches)             1.000000             0.984855
Weight (Y) (pounds)             0.984855             1.000000

In [36]:
df.corr(method="pearson")

                     Height (X) (inches)  Weight (Y) (pounds)
Height (X) (inches)             1.000000             0.984855
Weight (Y) (pounds)             0.984855             1.000000

In [2]:
df.corr(method="spearman")

NameError: name 'df' is not defined

In [1]:
df=pd.read_csv(r"D:\Machine Learning Internship\Covarience and Corelation\5.csv")

NameError: name 'pd' is not defined

In [39]:
df.cov()

                  Hours worked (X)     Salary (Y)
Hours worked (X)            1300.0   12500.000000
Salary (Y)                 12500.0  120833.333333

In [40]:
df.corr()

                  Hours worked (X)  Salary (Y)
Hours worked (X)          1.000000    0.997344
Salary (Y)                0.997344    1.000000

In [41]:
df.corr(method="pearson")

                  Hours worked (X)  Salary (Y)
Hours worked (X)          1.000000    0.997344
Salary (Y)                0.997344    1.000000

In [42]:
df.corr(method="spearman")

                  Hours worked (X)  Salary (Y)
Hours worked (X)           1.00000     0.99825
Salary (Y)                 0.99825     1.00000

In [7]:
import pandas as pd
df=pd.read_csv(r'D:\Machine Learning Internship\Covarience and Corelation\32.csv',engine='python')

In [8]:
df.cov()

                    Tempareture  Ice creams sold(Y)
Tempareture           36.666667          183.333333
Ice creams sold(Y)   183.333333          916.666667

In [10]:
df.corr()

                    Tempareture  Ice creams sold(Y)
Tempareture                 1.0                 1.0
Ice creams sold(Y)          1.0                 1.0